version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres-todo
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todoapp
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: todo-backend
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/todoapp?schema=public
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
