body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

input,
select,
textarea {
  font-family: "Inter", sans-serif;
}
